.App {
  text-align: center;
  font-size: 20px;
}


.app_form{
  position: fixed;
  bottom: 10px;
  z-index: 1 ;
  background-color: #eae4e9;
  width: 100%;
  padding: 10px;
  margin: 20px;
  margin-left: 0px;
}

#img1{
  margin-top: 10px;
  height: 100px;
  width: 100px;
}

.app_formcontrol{
  display: flex !important;
  flex-direction: row !important;
}

.app_input{
  flex: 1;
}
.app_iconbutton{
  flex: 0;
}